{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Image-1945</title>
    <style>body {font-family: Arial, sans-serif;}</style>
    <link rel="stylesheet" href="{% static '/css/input.css' %}">

</head>
<body>

    <form method="POST">
        {% csrf_token %}
    <table>
      <tr>
        <td>{{ form }}</td><td><input type="submit" value="Send" name="SendRequest"><br/><br/></td>
        </tr>
    </table>

    {{ web_link|safe }}

  </form>


  <form class="form-style-9">
    <ul>
    <li>
        <input type="text" name="field1" class="field-style field-split align-left" placeholder="id record" />
    <input type="submit" value="Send Message" />
    </li>
    </ul>
    </form>
</body>
</html>
